* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration:none
}
a:link {
    color: black;
    text-decoration:none;
}
a:visited {
    color: black;
    text-decoration:none;
}
a:hover {
    color: black;
    text-decoration:none;
}
body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #FFD700;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.navbar__logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar__search-button {
    font-size: 16px;
    padding: 10px;
    background-color: #FFD700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.navbar__search-button1 {
    font-size: 16px;
    padding: 10px;
    background-color: #FFD700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.qw-right{
/*  靠右显示  */
    float: right;
}

.main-navigation {
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-around; /* 或者改为 justify-content: space-between; */
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}
.main-navigation a{
    text-decoration: none;
}
.main-navigation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
}

.main-navigation__item i {
    margin-bottom: 5px;
}

.main-navigation__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD700;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    border-radius: 12px;
}

.main-navigation__item:hover::before,
.main-navigation__item--active::before {
    transform: scaleX(1);
}

.main-navigation__item--active {
    color: #FFD700;
}

.header-image img {
    margin-top: 5px;
    margin-left: 6px;
    max-width: 97%;
    max-height: 300px;
    height: auto;
    border-radius: 10px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: #f3f3f3;
    color: #1e1e20;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.header-button i {
    margin-right: 10px;
}

.header-button:hover {
    background-color: rgb(231, 224, 224);
}



.gg {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

.gg h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.gg p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 20px;
}

.gg a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #FFD700;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.gg a:hover {
    background-color: #FFC200;
}

.up-footer {
    width: 100%;
    height: 90px;
}

.yellow-card-input,
.yellow-card-textarea,
.yellow-card-select,
.yellow-card-button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.yellow-card-input,
.yellow-card-textarea,
.yellow-card-select {
    background-color: #F7F7F7;
}

.yellow-card-input:focus,
.yellow-card-textarea:focus,
.yellow-card-select:focus {
    outline: none;
    box-shadow: 0px 0px 5px #ADD8E6;
}

.blue-card-button {
    background-color: #007bff;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 20vh;
    margin-top: 5px;
}

.blue-card-button:hover {
    background-color: #0056b3;
}
.KPLM {
    display: flex;
    justify-content: center;
    align-items: center;
}
.up{
    margin-top: 20px;
}